<div class="container">
<hr><h2 class="exemple-title"> Banners </h2><hr>
</div>
	<div class="banner-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> 
		Breakfast
	</div>

<br><br><br>

	<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1508854710579-5cecc3a9ff17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80)">
		<div class="container banner-container">
		  <h1 class="display-3 banner-center">Sortir. Partager. Découvrir.</h1>
		  <p class="banner-center">Eventbrite rapproche les gens grâce à des expériences en direct. Découvrez des événements qui correspondent à vos passions ou créez votre propre événement avec les outils de billetterie en ligne.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Créer un évènement &raquo;</a>
		</div>
	</div>


