<div class="container">
	<hr><h2 class="exemple-title"> Cards Events </h2><hr>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-event">
				  <img class="card-img-top" src="https://images.unsplash.com/photo-1532499016263-f2c3e89de9cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Event title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary mb-4">View</a>
				    <p class="blockquote-footer mb-1"> Date </p>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-event">
				  <img class="card-img-top" src="https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Event title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary mb-4">View</a>
				    <p class="blockquote-footer mb-1"> Date </p>
				  </div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-event">
				  <img class="card-img-top" src="https://images.unsplash.com/photo-1567763745030-bfe9c51bec27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
				  <div class="card-body">
				    <h4 class="card-title">Event title</h4>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary mb-4">View</a>
				    <p class="blockquote-footer mb-1"> Date </p>
				  </div>
				 </div>
			</div>
		</div>

<br><br>

	<hr><h2 class="exemple-title"> Cards Users </h2><hr>
		<div class="my-3 p-3 bg-white rounded box-shadow">
		  <h6 class="border-bottom border-gray pb-2 mb-0">Utilisateurs</h6>
		  <div class="media text-muted pt-3">
		    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
		    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		      <div class="d-flex justify-content-between align-items-center w-100">
		        <strong class="text-gray-dark">Full Name</strong>
		        <a href="#">Follow</a>
		      </div>
		      <span class="d-block">Inscrit(e) le:</span>
		    </div>
		  </div>
		  <div class="media text-muted pt-3">
		    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
		    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		      <div class="d-flex justify-content-between align-items-center w-100">
		        <strong class="text-gray-dark">Full Name</strong>
		        <a href="#">Follow</a>
		      </div>
		      <span class="d-block">Inscrit(e) le:</span>
		    </div>
		  </div>
		  <div class="media text-muted pt-3">
		    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
		    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
		      <div class="d-flex justify-content-between align-items-center w-100">
		        <strong class="text-gray-dark">Full Name</strong>
		        <a href="#">Follow</a>
		      </div>
		      <span class="d-block">Inscrit(e) le: </span>
		    </div>
		  </div>
		</div>

			<div class="card-avatar mb-2">
	  		<img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
	  		<div class="card-avatar-infos">
	    		<h2>Name</h2>
	    		<p>Description with <strong>relevant info</strong> only.</p>
	    		<small><a href="#">Follow</a></small>
	  		</div>
			</div>

			<div class="card-avatar mb-2">
	  		<img src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
	  		<div class="card-avatar-infos">
	    		<h2>Name</h2>
	    		<p>Description with <strong>relevant info</strong> only.</p>
	    		<small class="mt-4"><a href="#">Follow</a></small>
	  		</div>
			</div>

			<div class="card-avatar mb-2">
	  		<img src="https://kitt.lewagon.com/placeholder/users/krokrob" />
	  		<div class="card-avatar-infos">
	    		<h2>Name</h2>
	    		<p>Description with <strong>relevant info</strong> only.</p>
	    		<small class="mt-4"><a href="#">Follow</a></small>
	  		</div>
			</div>


	<hr><h2 class="exemple-title"> Avatars </h2><hr>

			<img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
			<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
			<img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
			<img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />

	<hr><h2 class="exemple-title"> Cards City </h2><hr>
	<div class="row">
		<div class="col-lg-6">
		  <div class="card card-city text-center">
			  <div class="card-header">
			    Paris
			  </div>
			  	  	<img class="card-img-top card-img-top-event" src=https://images.unsplash.com/photo-1504973522169-4705c9741e0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2253&q=80 alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"> Ahhhh Paris ! il y en a des événements pour toutes les envies : romantique, monumentale, festive ou familiale… à vous de choisir !</h5>
			    <p class="card-text">Tout au long l'année, Paris organise de nombreux événements gratuits. En plein air et bien d'autres animations rythment la vie culturelle de la capitale.</p>
			    <a href="#" class="btn btn-primary">View Events</a>
			  </div>
			  <div class="card-footer text-muted">
			    22 Évènements
			 	</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="card card-city text-center">
			  <div class="card-header">
			    Los Angeles
			  </div>
			  	  	<img class="card-img-top card-img-top-event" src=https://images.unsplash.com/photo-1515896769750-31548aa180ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2634&q=80 alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title"> Upcoming local events, concerts, festivals, kids events, pet events, and more in Los Angeles metro area.</h5>
			    <p class="card-text">The official Los Angeles event calendar is your daily guide to concerts, shows, festivals, theatre, and all the entertainment LA has to offer.</p>
			    <a href="#" class="btn btn-primary">View Events</a>
			  </div>
			  <div class="card-footer text-muted">
			    34 Évènements
			 	</div>
			</div>
	</div>
</div>
