<div class="container">
	<hr><h2 class="exemple-title"> Footer</h2><hr>
</div>

<footer class="py-4 bg-primary fixed-footer">
    <p class="m-0 text-center text-white"> Made with ❤️by Fleur Himmler | Copyright &copy; - 2020</p>
</footer>