<div class="container">
	<hr><h2 class="exemple-title"> Show Ressource  </h2><hr>
		<div class="card-recipe">
		  <img src="https://images.unsplash.com/photo-1444228425018-ff8535a55c93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80" />
		  <div class="card-recipe-infos">
		    <div>
		      <h2> Event Title </h2>
		      <p>Short description here!</p>
		      <hr>
		      <p><strong>Paris</strong> | Commence le 2020-02-28 à 12h30 <em>(60mn)</em></p>
		      <hr>
		      <a href="#" class="btn btn-secondary mr-1">S'inscrire</a>
		      <a href="#" class="btn btn-outline-secondary mr-1">Éditer</a>
		      <a href="#" class="btn btn-secondary mr-1">Supprimer</a>
		    </div>

		    <div class="ressource-description">
		      <h2> Event description </h2>
		      <hr>
		      <p>Si un jour vous avez déjà extrait un fichier CSV d'une base de données puis nettoyer ses données et avez construit une série de graphiques à partir de ses données, vous avez déjà fait de la Business Intelligence (Informatique Décisionnelle en français) !</p>
		      <br>
					<p>Ce n'est donc pas sale et encore moins réservé aux grosses boîtes : en tant que startup vous devez connaître vos données, vous avez besoin de reporting et vous devez en produire pour vos investisseurs.</p>
					<br>
					<p>Dans ce meetup nous verrons :</p>
					<br>
					<p>Un entrepôt de données : comment et pourquoi ? Récupération et structuration des données par Sébastien Derivaux, consultant en Data Science</p>
		    </div>


		    <h2 class="card-recipe-pricing">99€</h2>
		    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-recipe-user avatar-bordered" />
		  </div>
		</div>
</div>